@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manga Temple";
  src: url("./assets/mangat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("./assets/Baloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* body{
  cursor: url('./assets/katana.png'), auto;
} */
