@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manga Temple';
  src: url('./assets/mangat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}